[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/Baal"]
	path = lib/Baal
	url = https://github.com/HausDAO/Baal
[submodule "lib/hats-module"]
	path = lib/hats-module
	url = https://github.com/Hats-Protocol/hats-module
[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/Vectorized/solady
